
html{
	// background: linear-gradient( #003366, #002953, #000E1D);
	background-repeat: no-repeat;
	background-color: #003366;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Source Sans Pro', sans-serif;
}

body{
	margin: 0px;
	padding: 0px;
}

.main__body{
	margin: 90px;
	padding: 20px;
}
