
//Variables
$red:#cc0b2a;

$yellow:#eba900;

$purple:#57517b;

$grey-warm:#6e6058;

$orange-muddy:#a85420;
$orange-yellow:#FFCC00;
$orange: #FF5E00;

$blue:#245e90;
$light-blue:#0067D6;
$doger-blue:#1E90FF;

$grey-cool:#767679;
$grey-light:#d7d7d7;
$grey-wash:#e6e6e6;
$grey-shady:#A7A6A4;
$grey-whitey:#F4F4F4;

$brown:#764d27;
$tan:#c9a876;

$teal:#00574A;

$magenta:#881c40;

$green:#677e38;

$black:#000000;
$white: #ffffff;


